#editor-preview {
	
}
textarea, #preview {
	height: 80vh;
	width: 40vw;
	resize: none;
	padding: 20px;
	font-size: 16px;
}
#preview {
	border: 1px solid black;
	white-space: pre-wrap;
}
h1, h2, blockquote, p {
	margin-top: 0;
	margin-bottom: 0;
}
ul {
	margin-top: 0;
	margin-bottom: -16px;	
}
li {
	margin-top: -16px;
	margin-top: -16px;
}